@import url('https://fonts.googleapis.com/css2?family=Splash&family=Work+Sans:wght@200;300;400;500&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

.status-bar {
    display: flex;
    justify-content: space-between;
}

.status-bar__column:first-child span {
    margin-right: 5px;
}